.grid-col-2 {
    display: flex;
    width: 100%;
  }
.grid-col-item.flex-col  {
    margin: 0;
}
.notes-editor-container {
    margin-left: 17rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.notes-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 
.filter-container {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 2rem;
    align-items: center;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    justify-content: space-around;
    width: 30rem;
  }
  .filter-container > * {
    padding: 0.5rem;
  } 
  .radio-container {
    display: flex;
    flex-wrap: wrap; 
     align-items: center; 
  }
  .filter-container.flex-row .button.button-link {
      text-decoration-color: var(--main-color);
  }
  .filter-container.flex-row .button.button-link:hover {
      opacity: 0.8;
  } 
   .filter-container.flex-row label {
      font-size: 1.1rem;
  }
