.add-note-container {
  position: fixed;
  width: 35rem;
  border: 1px solid rgba(95, 99, 104, .8);
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border-radius: 0.5em;
}
.notes {
  display: flex;
}
.note-heading,
.note-content {
  padding: 1rem;
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1rem;
  color: var(--black-color);
  resize: none;
  overflow: hidden;
}
.note-pinned {
  float: right;
  cursor: pointer;
  padding-top: .8rem;
  margin-right: 1rem;
}
.footer {
  display: flex;
  margin-top: 2rem;
}
.note-button {
  float: right;
  padding: 0 1rem;
}
.add-note {
  padding:  0.5rem 1rem;
  margin: 0.5rem;
  background-color: var(--main-color);
  color: aliceblue;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
} 
  
.select-label {
  margin-top: 0.5rem;
  border: 2px solid var(--black-color);
  border-radius: 3px;
} 










 