.main-container {
  width: 100%;
}
.note {
  width: 35rem;
  height: 35vh;
  border: 1px solid rgba(95, 99, 104, .8);
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  margin: 1rem;
  border-radius: 0.5em;
  padding: 0.1em;
}
.notes {
  display: flex;
}
.note-heading,
.note-content {
  padding: 1rem;
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1rem;
  color: var(--black-color);
  resize: none;
  overflow: hidden;
}

.note-pinned {
  float: right;
  cursor: pointer;
  padding-top: .8rem;
  margin-right: 1rem;

}

.footer {
  display: flex;
}

.note-button {
  float: right;
  padding: 0 1rem;
}

.note-delete {
  font-size: 1.2rem;
}

.note-color {
  margin-left: 1rem;
}

.add-note {
  padding: 0.5rem 1.2rem ;
  margin-left: 1rem;
  background-color: var(--main-color);
  color: aliceblue;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
} 










 