.sidebar {
  width: 12rem;
  height: 100vh;
  position: sticky;
  margin-right: 1rem;
  top: 0;
  left: 0;
  border-right: 1px solid var(--black-color);
 
}
.sidebar-heading {
  list-style: none;
  font-weight: 700;
  font-size: 1rem;
  padding: .5rem 0;
}
.sidebar-link {
  padding: .8rem 1.9rem;
  margin-top: 1rem;
  font-size: .9rem;
  font-weight: 400;
 
}
.menu-link {
  color: var(--black-color);
  font-size: 1.1rem;
}
.menu-link:hover {
  color: var(--main-color);
}
.label-nav-item {
  margin: 1rem;
}
.create-label-row input{
  width: 5rem;
  padding: 0.2rem;
 }

@media screen and (max-width:750px) {
  .sidebar {
      display: none;
  }
.sidebar-link {
      font-size: 1.2rem;
  }
}














